= form_for @tenant do |f|
  = error_messages_for @tenant
  .row
    .col-md-4
      .form-group
        = label_tag('select_type') do
          Выберите тип жителя
        = select_tenant_type()
  #tenant_type_fields
    Пусто
  .row
    .col-md-4
      .form-group
      = f.label :security
      = f.check_box :security, class: 'checkbox'
  .row
    .col-md-4
      .form-group
      = f.label :phone
      = f.text_field :phone, class: 'form-control'
  .row
    .col-md-4
      .form-group
      = f.label :arrivaldate
      .input-group.date.datepicker
        = f.text_field :arrivaldate, class: 'form-control'
        %span.input-group-addon
          %span.glyphicon.glyphicon-calendar

    .col-md-4
      .form-group
      = f.label :checkoutdate
      .input-group.date.datepicker
        = f.text_field :checkoutdate, class: 'form-control'
        %span.input-group-addon
          %span.glyphicon.glyphicon-calendar
  .row
    .col-md-4
      .form-group
      = f.label :note
      = f.text_area :note, class: 'form-control'

  .form-actions
    = f.submit nil, class: 'btn btn-primary'
  .field
