= form_for @employee do |f|
  =error_messages_for @employee
  -# .row
  -#   .col-md-6
  -#     .form-group
  -#       =f.label :avatar
  -#       =f.file_field :avatar
  -#     -if @employee.avatar?
  -#       .text-center
  -#         =link_to @employee.avatar.url do
  -#           =image_tag @employee.avatar.url(:thumb), alt: Employee.human_attribute_name(:avatar)
  =f.fields_for :user do |u|
    .row
      .col-md-6
        .form-group
          = u.label :email
          = u.text_field :email, class: 'form-control'
          = u.error_messages_for(:email)
      .col-md-6
        .form-group
          =label_tag("Пользовательское имя")
          =text_field_tag :login, params[:login], class: 'form-control'
    .row
      .col-md-6
        .form-group
          =submit_tag "Получить логин", class: 'btn btn-primary'
      -# .col-md-6
      -#   .form-group
      -#     = u.label :role
      -#     = u.select :role, options_for_select(User::ROLES),{}, title: "Ничего не выбрано", class: 'form-control selectpicker'
    =u.hidden_field :role, value: 1
    =u.hidden_field :activation_state, value: "active"
    =u.hidden_field :password, value: "12345"
    =u.hidden_field :password_confirmation, value: "12345"
  = f.fields_for :person do |fp|
    .row
      .col-md-4
        .form-group
          = fp.label :lastname
          = fp.text_field :lastname, class: 'form-control'
      .col-md-4
        .form-group
          = fp.label :firstname
          = fp.text_field :firstname, class: 'form-control'
      .col-md-4
        .form-group
          = fp.label :secondname
          = fp.text_field :secondname, class: 'form-control'
    .row
      .col-md-4
        .form-group
          = fp.label :birthday
          = fp.text_field :birthday, class: 'form-control', data: {masked: 'date'}, value: (l(@employee.person.birthday) if @employee.person.birthday)
      .col-md-4
        .form-inline
          .form-group
            = fp.label :sex
            = fp.radio_button(:sex, "М")
            Мужской
            = fp.radio_button(:sex, "Ж")
            Женский
  = f.fields_for :buildingemployees do |t|
    =render 'buildingemployee_fields', :f => t
  .links
    =link_to_add_association "Добавить должность", f, :buildingemployees, class: 'btn btn-success'
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
