= form_for @person do |fp|
  = error_messages_for @person
  =hidden_field_tag :formname, :edit
  .row
    .col-md-4
      .form-group
        = fp.label :lastname
        = fp.text_field :lastname, class: 'form-control'
    .col-md-4
      .form-group
        = fp.label :firstname
        = fp.text_field :firstname, class: 'form-control'
    .col-md-4
      .form-group
        = fp.label :secondname
        = fp.text_field :secondname, class: 'form-control'
  .row
    .col-md-4
      .form-group
        = fp.label :birthday
        = fp.text_field :birthday, class: 'form-control', data: {masked: 'date'}
    .col-md-4
      .form-inline
        .form-group
          = fp.label :sex
          = fp.radio_button(:sex, "М")
          Мужской
          = fp.radio_button(:sex, "Ж")
          Женский
  = fp.fields_for :workman do |s|
    .row
      .col-md-12
        .form-group
          =s.label :placejob
          =s.text_field :placejob, class: 'form-control'
    .row
      .col-md-6
        .form-group
          =s.label :post
          =s.text_field :post, class: 'form-control'
      .col-md-6
        .form-group
          =s.label :phone
          =s.text_field :phone, class: 'form-control', data: {masked: 'phone'}
    = s.fields_for :tenant do |f|
      .row
        .col-md-6
          .form-group
            =f.label :avatar
            =f.file_field :avatar
      =f.fields_for :user do |u|
        .row
          .col-md-12
            .form-group
              = u.label :email
              = u.text_field :email, class: 'form-control'
              = u.error_messages_for(:email)

        =u.hidden_field :activation_state, value: "active"
        =u.hidden_field :role, value: 0
        =u.hidden_field :password, value: "12345"
        =u.hidden_field :password_confirmation, value: "12345"
      .row
        .col-md-6
          .form-group
            = f.label :security
            = f.check_box :security, class: 'checkbox'
      .row
        .col-md-6
          .form-group
            = f.label :phone
            = f.text_field :phone, class: 'form-control'
      .row
        .col-md-6
          .form-group
            = f.label :arrivaldate
            .input-group.date.datepicker
              = f.text_field :arrivaldate, class: 'form-control'
              %span.input-group-addon
                %span.glyphicon.glyphicon-calendar
        .col-md-6
          .form-group
            = f.label :checkoutdate
            .input-group.date.datepicker
              = f.text_field :checkoutdate, class: 'form-control'
              %span.input-group-addon
                %span.glyphicon.glyphicon-calendar
      .row
        .col-md-12
          .form-group
            = f.label :note
            = f.text_area :note, class: 'form-control'
  .form-actions
    = fp.submit nil, class: 'btn btn-primary'
