%p#notice= notice

%p
  %b Lastname:
  = @person.lastname
%p
  %b Firstname:
  = @person.firstname
%p
  %b Secondname:
  = @person.secondname
%p
  %b Birthday:
  = @person.birthday
%p
  %b Sex:
  = @person.sex

= link_to 'Edit', edit_person_path(@person)
\|
= link_to 'Back', people_path
