= form_for @visitor do |f|
  =error_messages_for @visitor
  = f.fields_for :person do |fp|
    .row
      .col-md-4
        .form-group
          = fp.label :lastname
          = fp.text_field :lastname, class: 'form-control'
      .col-md-4
        .form-group
          = fp.label :firstname
          = fp.text_field :firstname, class: 'form-control'
      .col-md-4
        .form-group
          = fp.label :secondname
          = fp.text_field :secondname, class: 'form-control'
    .row
      .col-md-4
        .form-group
          = fp.label :birthday
          = fp.text_field :birthday, class: 'form-control', data: {masked: 'date'}, value: (l(@visitor.person.birthday) if @visitor.person.birthday)
      .col-md-4
        .form-inline
          .form-group
            = fp.label :sex
            = fp.radio_button(:sex, "М")
            Мужской
            = fp.radio_button(:sex, "Ж")
            Женский
  = f.fields_for :visitortenants do |t|
    .row
      .col-md-4
        .form-group
          = f.label :document
          = f.select :document, options_for_select(Visitor::DOCUMENTS), {}, title: "Ничего не выбрано", class: 'form-control selectpicker'
      .col-md-4
        .form-group
          = f.label :numb
          = f.text_field :numb, class: 'form-control'

      .col-md-4
        =t.hidden_field :arrivaldate, value: Date.today
        .form-group
          =t.label :arrivaltime
          .input-group.date.timepicker
            =t.text_field :arrivaltime, class: 'form-control'
            %span.input-group-addon
              %span.glyphicon.glyphicon-calendar
    .row
      .col-md-12
        .form-group
          =t.label :tenant_id
          =t.select :tenant_id, options_for_select(Tenant.all.map{|c| [Tenant.niceselect(c), c.id, {data: {subtext: [l(c.resident.person.birthday, format: :long)," проживает в квартире #{c.historymoves.last.room.numb} (корпус #{c.historymoves.last.room.building.numb})"]}}]}),
          {}, title: "Ничего не выбрано", class: 'form-control selectpicker', "data-live-search" => "true"
    .row
      .col-md-12
        .form-group
          =t.label :note
          =t.text_area :note, class: 'form-control'
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
