= form_for @visitor do |f|
  =error_messages_for @visitor
  = f.fields_for :person do |fp|
    .row
      .col-md-4
        .form-group
          = fp.label :lastname
          = fp.text_field :lastname, class: 'form-control'
      .col-md-4
        .form-group
          = fp.label :firstname
          = fp.text_field :firstname, class: 'form-control'
      .col-md-4
        .form-group
          = fp.label :secondname
          = fp.text_field :secondname, class: 'form-control'
    .row
      .col-md-4
        .form-group
          = fp.label :birthday
          = fp.text_field :birthday, class: 'form-control', data: {masked: 'date'}, value: (l(@visitor.person.birthday) if @visitor.person.birthday)
      .col-md-4
        .form-group
          = fp.label :sex
          = fp.select :sex, [['','']] + Person::SEXES, {}, title: "Ничего не выбрано", class: 'form-control selectpicker'
  .row
    .col-md-6
      .form-group
        = f.label :document
        = f.select :document, [['','']] + Visitor::DOCUMENTS, {}, title: "Ничего не выбрано", class: 'form-control selectpicker'
    .col-md-6
      .form-group
        = f.label :numb
        = f.text_field :numb, class: 'form-control'
  = f.fields_for :visitortenants do |t|
    .row
      .col-md-12
        .form-group
          =t.label :tenant_id
          =t.select :tenant_id, Tenant.all.map{|c| [c.resident.person.lastname, c.id]}, {}, title: "Ничего не выбрано", class: 'form-control selectpicker'
    .row
      =t.hidden_field :arrivaldate, value: Date.today
      .col-md-6
        .form-group
          =t.label :arrivaltime
          .input-group.date.timepicker
            =t.text_field :arrivaltime, class: 'form-control'
            %span.input-group-addon
              %span.glyphicon.glyphicon-calendar
    .row
      .col-md-12
        .form-group
          =t.label :note
          =t.text_area :note, class: 'form-control'
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
