= form_for @request do |f|
  =error_messages_for @request
  .row
    .col-md-12
      .form-group
        = f.label :employee_id
        = f.select :employee_id,options_for_select(Employee.ordering.map{|e| [e.person.lastname, e.id]}),
        {}, title: "Ничего не выбрано", class: 'form-control selectpicker'
  .row
    .col-md-12
      .form-group
        = f.label :historymove_id
        = f.text_field :historymove_id, class: 'form-control'
  .row
    .col-md-12
      .form-group
        = f.label :content
        = f.text_area :content, class: 'form-control'
  = f.hidden_field :dateapp, value: Date.today
  = f.hidden_field :status, value: 0
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
