= form_for @building do |f|
  =error_messages_for @building
  .row
    .col-md-12
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
  .row
    .col-md-8
      .form-group
        = f.label :address
        = f.text_field :address, class: 'form-control'
    .col-md-4
      .form-group
        = f.label :numb
        = f.text_field :numb, class: 'form-control'
  .row
    .col-md-6
      .form-group
        .input-group
          = f.text_field :floor, class: 'form-control'
          %span.input-group-addon этажей
    .col-md-6
      .form-group
        .input-group
          = f.text_field :quantityroom, class: 'form-control'
          %span.input-group-addon квартир
  .row
    .col-md-6
      .form-group
        = f.label :typebuild
        = f.select :typebuild, options_for_select(Building::TYPEBUILDS), {include_blank: false},
          multiple: true, title: "Ничего не выбрано", class: 'form-control selectpicker',
          data: {value: (tmp = params.try('[]', :building).try('[]', :typebuild)).nil? ? f.object.typebuild : tmp}
    .col-md-6
      .form-group
        = f.label :state
        = f.select :state, options_for_select(Building::STATES), {},
          title: "Ничего не выбрано", class: 'form-control selectpicker',
          data: {value: (tmp = params.try('[]', :building).try('[]', :state)).nil? ? f.object.state : tmp}
  .row
    .col-md-12
      .form-group
        = f.label :note
        = f.text_area :note, class: 'form-control'
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
