= form_for @room do |f|
  =error_messages_for @room
  =hidden_field_tag :formname, :edit
  .row
    .col-md-12
      .form-group
        = f.label :building_id
        = f.select :building_id, Building.ordering.map{|b| [b.name, b.id]}, {}, title: "Ничего не выбрано", class: 'form-control selectpicker'
  .row
    .col-md-3
      .form-group
        = f.label :numb
        = f.text_field :numb, class: 'form-control'
    .col-md-3
      .form-group
        = f.label :floor
        = f.text_field :floor, class: 'form-control'
    .col-md-3
      .form-group
        = f.label :section
        = f.text_field :section, class: 'form-control'
    .col-md-3
      .form-group
        = f.label :place
        = f.text_field :place, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :typeroom
        = f.select :typeroom,[['','']] + Room::TYPEROOMS,{}, title: "Ничего не выбрано", class: 'form-control selectpicker'
    .col-md-6
      .form-group
        = f.label :state
        = f.select :state,[['','']] + Room::STATES, {}, title: "Ничего не выбрано", class: 'form-control selectpicker'
  .row
    .col-md-6
      .form-group
        = f.label :accessory
        = f.select :accessory,[['','']] + Room::ACCESSORIES, {}, title: "Ничего не выбрано", class: 'form-control selectpicker'
    .col-md-6
      .form-group
        = f.label :accessoryfaculty
        = f.select :accessoryfaculty,[['','']] + Room::ACCESSORYFACULTIES, {}, title: "Ничего не выбрано", class: 'form-control selectpicker'
  .row
    .col-md-4
      .form-group
        = f.label :fire
        = f.check_box :fire, class: 'form-control'
    .col-md-4
      .form-group
        = f.label :signal
        = f.check_box :signal, class: 'form-control'
    .col-md-4
      .form-group
        = f.label :samospas
        = f.check_box :samospas, class: 'form-control'
  .row
    .col-md-12
      .form-group
        = f.label :note
        = f.text_area :note, class: 'form-control'
  .form-group
    =f.label :files
    =f.file_field :files, multiple: true
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
